---
layout: default
title: Research
---
<!-- To add research projects, edit _data/research.yml -->
				{% for project in site.data.research %}
				<article class="post-ind" id="{{ project.id }}">
					<header>
						<div class="title">
							<h2>{{ project.title }}</h2>
							{% if project.subtitle %}<p>{{ project.subtitle }}</p>{% endif %}
						</div>
					</header>
					{% if project.image %}<a class="image left"><img src="{{ project.image }}" width="40%" alt="" /></a>{% endif %}
					{{ project.description | markdownify }}
				</article>
				{% endfor %}
